@import "../../styles/styles.scss";

.container {
	height: 100vh;
	text-align: center;
	color: $blue;
	background-color: $purple;
}

.logoContainer {
	@extend %centered;
	color: $blue;
	min-height: 100vh;
}

.logoStyle {
	height: 30vh;
	margin-bottom: 20px;
}

.title {
	margin: 0;
}
